/*
Author: Connor Hager
File Name: styles.css
*/

/* CSS Reset */

/* Style rules for mobile viewport */
img { /*temporary*/
  max-width: 90%;
}

/* Style rules for tablet viewport */
@media screen and (min-width: 620px), print {

}

/* Style rules for desktop viewport */
@media screen and (min-width: 1200x), print {

}

/* Media Query for Print */
@media print {
    body {
		background-color: #fff;
		color: #000;
    }
}