/*
Author: Connor Hager
File Name: styles.css
*/

/* Color Notes: -------
#003A4C - Nav Background / Image Borders
#00A5CF - Nav Button / Hover
#DCEBE4 - Body Background
---------------------*/

/* CSS Reset */
body, header, nav, main, footer, img, figure, table, caption, tr, td, h2, h3, h4, p, ul, li, br  {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for mobile viewport */
.tab-desk, .desk, #nav-links, footer ul {
  display: none;
}

.mobile-tab {
  display: block;
  padding: 1%;
}

/* Style rules for body and images */
body {
  background-color: #DCEBE4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} /*Used flex content to make sure footer is always at the bottom of the screen, assisted by chatGPT */

h2, h3, h4, p, li, nav, footer {
  font-family: sans-serif;
}

main {
  margin-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
  flex: 1;
}

h2 {
  font-size: 1.5em;
  text-align: center;	
  padding-top: 2%;	
  padding-bottom: 2%
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;	
  padding-top: 4%;	
  padding-bottom: 2%
}

h4 {
  font-size: 0.75em;
  text-align: center;	
  padding-top: 4%;	
  padding-bottom: 2%
}

p {
  font-size: 1em;
  margin-bottom: 20px;
}

a {
  color: #003A4C
}

a:hover, a:focus {
  color: #00A5CF;
}

figure {
  width: 100%;
}

img {
  display: block;
  max-width: 70%;
  margin: 2% auto;
  border: 2px solid #003A4C;
}

.header {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 0;
}

a img:hover, a img:focus {
  border: 2px solid #00A5CF;
}

/* Style rules for navigation area */
nav {
  background-color: #003A4C;
}

.mobile-nav a {
	color: white;
	text-align: center;
	font-size: 1.25em;
	text-decoration: none;
  padding: 2%;
	display: block;
}

.mobile-nav a.nav-icon {
	display: block;
  position: absolute;
	left: 0;
	top: 0;
  color: #00A5CF;
  padding: 2%;
}

.nav-icon div {
	height: 40px;
	width: 40px;
  color: #00A5CF;
}

.oneColumn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

/* Style rules for grids*/
.twoColumn, .threeColumn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.sixColumn, .fourColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Style rules for footer area */
footer {
  background-color: #003A4C;
  padding: 2%;
  margin-top: 5%;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding: 0.25%;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
}

footer .contact-info {
  text-align: center;
  margin-bottom: 0.5em;
}

footer .contact-info a {
  font-size: 0.85em;
}


/* Style rules for tablet viewport */
@media screen and (min-width: 620px), print {
  .mobile, .mobile-nav {
		display: none;
	}
  
  .tab-desk, footer ul {
    display: block;
  }
  
  .left {
    text-align: left;
  }

  img {
    max-width: 90%;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.25em;
  }

  /* Style rules for navigation area */

  nav ul {
		list-style-type: none;
		text-align: center;
  }
  
  nav li {
		border-top: none;
		display: inline-block;
    font-size: 1.25em; /* 0.84 with Events Page */
		font-weight: bold;
    padding: 1%;
	}

	nav li a {
		display: block;
		color: white;
		text-decoration: none;
	}

  nav li a:hover {
    color: #00A5CF;
  }

  /* Style rules for grids*/
  .twoColumn, .fourColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .threeColumn, .sixColumn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .oneColumn img {
    max-width: 70%;
  }

  /* Style rules for Table */
  table {
    border-collapse: collapse;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
  }

  td {
    width: 50%;
    padding: 1%;
  }
}

/* Style rules for desktop viewport */
@media screen and (min-width: 1100px), print { /* When Nav Bar dies */
  .mobile-tab {
    display: none;
  }

  .desk {
    display: block;
  }

  .condense {
    padding-left: 15%;
    padding-right: 15%;
  }

  img {
    max-width: 90%;
  }

  .shrink {
    max-width: 70%;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.25em;
  }

  nav li {
		font-size: 1.5em;
  }

  /* Style rules for grids*/
  .fourColumn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .sixColumn {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}

/* Media Query for Print */
@media print {
    body {
		  background-color: #fff;
		  color: #000;
    }
}